# Cognito
REGION=eu-west-2
COGNITO_DOMAIN=<your-cognito-domain>
IDP_CLIENT_ID=<your-cognito-client-id>
IDP_CLIENT_SECRET=<your-cognito-client-secret>
IDP_SCOPE=<your-cognito-scope>

# Conjur 
CONJUR_BASE_URL=https://<your-tenant>.secretsmgr.cyberark.cloud/api
CONJUR_ACCOUNT=conjur
CONJUR_AUTHN_ID=intro-demo-authn
CONJUR_LOGIN=host/data/intro-demo/apps/demo-webapp

# Secrets
SECRET_ALLOWED_ID=data/vault/IntroDemo-WebApp-Safe/webapp-db-password/password
SECRET_DENIED_ID=data/vault/IntroDemo-Payments-Safe/payments-admin-password/password
