# === Installed Servers ===
# The 02-install-tomcat.sh script extracts the server here
tomcat/

# === CyberArk & Third Party Installers ===
# Proprietary installers should never be uploaded to Git
*.tar.gz
*.rpm
*.zip

# === Logs & Temps ===
*.log
/var/tmp/ascp_install/