# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

jobs:
  consume-secrets-from-conjur:
    docker:
      - image: cimg/base:stable
    steps:
      - run:
          name: "Authenticating to Conjur"
          command: |
            # Store Conjur Token in temp file
            RESPONSE_CODE=$(curl -o /tmp/token.txt -k --request POST "$CONJUR_FQDN/authn-jwt/$CONJUR_AUTHN_ID/$CONJUR_ORG/authenticate" --header 'Content-Type: application/x-www-form-urlencoded' --header "Accept-Encoding: base64" --data-urlencode "jwt=$CIRCLE_OIDC_TOKEN")
            TOKEN=$(cat /tmp/token.txt)
            echo $RESPONSE_CODE
            [ "$RESPONSE_CODE" != "200" ] && echo "Authentication failed"; exit 1
            echo "export TOKEN=$TOKEN" >> "$BASH_ENV"
      - run:
          name: "Consuming secret from Conjur"
          command: |
             RESPONSE_CODE=$(curl -o /tmp/secret.txt -k -X GET -H "Authorization: Token token=\"$TOKEN\"" "$CONJUR_FQDN/secrets/$CONJUR_ORG/variable/circleci/apps/safe/secret1")
             SECRET=$(cat /tmp/secret.txt)
             [ "$RESPONSE_CODE" != "200" ] && echo "Secret retrieval failed"; exit 1
             echo "export SECRET=$SECRET" >> "$BASH_ENV"
      - run:
          name: "Print secret"
          command: |
            echo "================"
            echo "secret1: $SECRET"
            echo "================"

# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  get-secrets-workflow:
    jobs:
      - consume-secrets-from-conjur:
          context: Conjur
